<div class="login-container">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'login-form' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <h2 style="font-weight: 700;">EDIT <%= resource_name.to_s.humanize %></h2>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "laissez-le vide si vous ne voulez pas le modifier",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "nous avons besoin de votre mot de passe actuel pour confirmer vos modifications",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "custom-login-button" %>
    </div>
  <% end %>

  <div class="other-section align-self-start">
    <div class="delete-account-container">
      <h3 style="font-weight: 700;">Annuler mon compte</h3>
      <div>
        Mécontent ? <%= button_to "Annuler mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?", turbo_confirm: "Êtes-vous sûr ?" }, method: :delete, class: "custom-delete-button" %>
      </div>
    </div>

    <div class="back-link-container">
      <%= link_to "Retour", :back, class: "back-link" %>
    </div>
  </div>
</div>

