<div class="hp_containter">
  <h1 class="h1mt">The Future Is In Your Dreams.</h1>
    <h1>We'll Help You See It.</h1>



  <div class="card-product">
<%= image_tag "hp_woman.jpg", class: "img_rebon" %>
    <div class="card-product-infos">
      <h2>Cliquez ici</h2>
      <p>En cas de cauchemars fréquents, consultez un <strong>spécialiste</strong> en santé mentale.</p>
    </div>
  </div>



  <%= form_with url: predictions_path, method: 'post', local: true do |f| %>
    <%= f.label :message, 'Message:' %>
    <%= f.text_field :message %>
    <%= recaptcha_tags %> <!-- Ligne ajoutée depuis la version 'master' -->
    <%= f.submit 'Get Prediction' %>
  <% end %>
</div>
