<div class="login-container" style="flex-direction: column!important; gap: 10px;">
  <!-- Le reste du contenu de la page de connexion -->
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form' }) do |f| %>
    <h2 style="font-weight: 700;">LOGIN FORM</h2>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "custom-login-button" %>

    </div>
  <% end %>
  
  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>

